<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Registration</title>
</head>
<body>
    <h1>Welcome! Let's travel!</h1>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

        {% endfor %}
        </ul>
    {% endif %}
    <form action="/regist" method="post">
         {% csrf_token %}
        <fieldset>
            <legend>Registration</legend>
            <P>First Name<input type="text" name="first_name"/> </P>
            <P>Last Name<input type="text" name="last_name"/> </P>
            <P>Email <input type="text" name="email"/> </P>
            <P>Password<input type="password" name="password"/> </P>
            <P>Confirm PW<input type="password" name="confirmPW"/> </P>
            <p><button>Register</button></p>
        </fieldset>
    </form>

    <form action="/login" method="post">
         {% csrf_token %}
        <fieldset>
            <legend>login</legend>
            <P>Email <input type="text" name="email"/> </P>
            <P>Password<input type="text" name="password"/> </P>
            <p><button>Log In</button></p>
        </fieldset>
    </form>

    <h2>test count: a@a.com  123456</h2>


</body>
</html>